<template>
  <div class='graph-comp'>
    <div ref='graph' :style='{height: height}'></div>
    <loading
      :loading='withLoading'
      :message='message'
      class='cover'>
    </loading>
  </div>
</template>

<script>
import Graph from 'src/index'
import Loading from './Loading'

function isEmpty(value) {
  if (value === null || value === undefined) {
    return true
  }
  if (Array.isArray(value)) {
    return !value.length
  }
  if (Object.prototype.toString.call(value) === '[object Object]') {
    for (let key in value) {
      if (Object.prototype.hasOwnProperty.call(value, key)) {
        return false
      }
    }
  }
  return true
}

export default {
  components: {
    Loading
  },
  props: {
    data: Object,
    title: String,
    options: Object,
    loading: Boolean,
    height: {
      type: String,
      default: '500px',
    },
    width: {
      type: String,
      default: '100%'
    },
  },
  data() {
    return {
      graph: null,
      message: '',
      nodes: null,
      edges: null,
      zoom: null,
    }
  },
  computed: {
    withLoading() {
      return this.loading && !this.message
    },
  },
  watch: {
    data: {
      immediate: true,
      handler(data) {
        this.message = ''
        if (data) {
          this.nodes = data.nodes
          this.edges = data.edges
          if (isEmpty(this.nodes)) {
            this.message = '暂无数据'
          } else {
            this.graph.render({
              nodes: this.nodes,
              edges: this.edges,
            })
          }
        } else {
          this.message = '暂无数据'
        }
      }
    },
    options: {
      deep: true,
      handler(options) {
        this.graph.setOptions(options)
      }
    },
  },
  methods: {
  },
  mounted() {
    this.graph = Object.seal(new Graph(this.$refs.graph, this.options))
    this.graph.on('node.click', (...args) => {
      this.$emit('nodeClick', ...args)
    }).on('edge.click', (...args) => {
      this.$emit('edgeClick', ...args)
    }).on([
      'simulation.end',
      'drag.end',
      'zoom.end',
      'thumbnails.zoomend',
      'thumbnails.dragend'
    ], () => {
      this.$emit('renderEnd', {
        nodes: this.nodes,
        edges: this.edges,
        zoom: this.zoom.transform,
      })
    })
    this.zoom = this.graph.getOptionsRef().zoom
  },
  beforeDestroy() {
    if (this.graph) {
      this.graph.destroy()
    }
  }
}
</script>

<style scoped>
.graph-comp {
  position: relative;

  .cover {
    background: #fff;
  }
}
</style>
