<template>
  <div class='container'>
    <div class='md-8'>
      <p>单连接、自动位置模拟 拓扑图</p>
      <graph class='graph'
        :data='baseData'
        :options='baseOpts'
      >
      </graph>
    </div>
    <div class='md-8'>
      <p>单连接、自动位置模拟 拓扑图</p>
      <graph class='graph'
        :data='baseData2'
        :options='baseOpts2'
      >
      </graph>
    </div>
    <div class='md-8'>
      <p>多连接、自动位置模拟 拓扑图</p>
      <graph class='graph'
        :data='multiLineData'
        :options='multiLineOpts'
      >
      </graph>
    </div>
  </div>
</template>

<script>
  import Graph from './components/Graph'
  import VueButton from './components/Button.vue'
  import {
    genSimpleGraph,
    genMultiGraph,
    genRandomGraph,
    genLargeNodeGraph,
    genDandelionGraph,
  } from './graphData.js'

  export default {
    components: {
      Graph,
      VueButton,
    },
    data() {
      return {
        baseData: null,
        baseOpts: {},
        baseData2: null,
        baseOpts2: {
        },
        multiLineData: null,
        multiLineOpts: {
          edge: {
            shape: {
              type: 'multiLine',
            },
            path:[{
              key: 'green',
              style: {
                stroke: 'green',
              },
            }, {
              key: 'dashGreen',
              dashArray: [5, 5],
              style: {
                stroke: 'green',
              },
            }, {
              key: 'yellow',
              style: {
                stroke: 'yellow',
              },
              hover: {
                style: {
                  stroke: 'yellow',
                },
              }
            }, {
              key: 'dashYellow',
              dashArray: [5, 5],
              style: {
                stroke: 'yellow',
              },
              hover: {
                style: {
                  stroke: 'yellow',
                },
              }
            }, {
              key: 'red',
              style: {
                stroke: 'red',
              },
              hover: {
                style: {
                  stroke: 'red',
                },
              }
            }, {
              key: 'dashRed',
              dashArray: [5, 5],
              style: {
                stroke: 'red',
              },
              hover: {
                style: {
                  stroke: 'red',
                },
              }
            }],
          },
        },
      }
    },
    computed: {
    },
    methods: {
      render() {
        this.baseData = genLargeNodeGraph(20, 20, 60)
        this.baseData2 = genSimpleGraph()
        // this.multiLineData = genMultiGraph()
      },
      test() {
        this.render()
      },
    },
    mounted() {
      this.render()
    },
  }
</script>

<style scoped>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .md-6 {
    flex-basis: 50%;
    max-width: 50%;
    overflow: hidden;
  }
  .md-8 {
    flex-basis: 66.66%;
    max-width: 66.66%;
    overflow: hidden;
  }
  .graph {
    margin: 0 5px;
    border: 1px solid #aaa;
  }
  p {
    padding-left: 20px;
    margin-bottom: 5px;
  }
</style>
