<template>
  <div>
    <ys-side-slide
      v-model='sideSlideShow'
      title='滑窗测试'
      >
    </ys-side-slide>
    <div class='flex container'>
      <div v-for='(item, key) in graphs'
        :key='key'
        class='md-6'
        >
        <p>{{item.des}}</p>
        <ys-button v-for='(btn, bkey) in item.button'
          :key='bkey'
          @click='btn.click'
          >
          {{btn.text}}
        </ys-button>
        <ys-topo-graph
          :ref='key'
          class='graph'
          :data='item.data'
          :options='item.options'
          @edgeClick='item.edgeClick'
          @renderEnd='item.renderEnd'
        >
        </ys-topo-graph>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  data() {
    return {
      sideSlideShow: false,
      graphs: {
        /*
        force: {
          des: '单连接、自动位置模拟 拓扑图',
          data: null,
          options: {},
          edgeClick: this.edgeClick2,
          renderEnd: () => {},
        },
        */
        force2: {
          des: '单连接、自动位置模拟 拓扑图',
          data: null,
          options: {
            simulation: {
              used3: true,
            },
          },
          edgeClick: this.edgeClick2,
          renderEnd: () => {},
        },
        /*
        test2: {
          des: '单连接、自动位置模拟、带闭环 拓扑图',
          data: null,
          options: {
            simulation: {
              enable: false,
            },
          },
          edgeClick: () => {},
          renderEnd: () => {},
        },
        multiLine: {
          des: '多连接、自动位置模拟 拓扑图',
          data: null,
          options: {
            edge: {
              shape: {
                type: 'multiLine',
              },
              path:[{
                key: 'green',
                style: {
                  stroke: 'green',
                },
              }, {
                key: 'dashGreen',
                dashArray: [5, 5],
                style: {
                  stroke: 'green',
                },
              }, {
                key: 'yellow',
                style: {
                  stroke: 'yellow',
                },
                hover: {
                  style: {
                    stroke: 'yellow',
                  },
                }
              }, {
                key: 'dashYellow',
                dashArray: [5, 5],
                style: {
                  stroke: 'yellow',
                },
                hover: {
                  style: {
                    stroke: 'yellow',
                  },
                }
              }, {
                key: 'red',
                style: {
                  stroke: 'red',
                },
                hover: {
                  style: {
                    stroke: 'red',
                  },
                }
              }, {
                key: 'dashRed',
                dashArray: [5, 5],
                style: {
                  stroke: 'red',
                },
                hover: {
                  style: {
                    stroke: 'red',
                  },
                }
              }],
            },
          },
          edgeClick: this.edgeClick1,
          renderEnd: () => {},
        },
        */
      },
    }
  },
  computed: {
  },
  methods: {
    click5() {
      this.sideSlideShow = true
    },
    edgeClick1(...args) {
      console.log(...args)
    },
    edgeClick2(...args) {
      console.log(...args)
    },
    renderEnd(topo) {
      this.topo = topo
    },
    save() {
      sessionStorage.topo = JSON.stringify(this.topo)
    },
    read() {
      if (!sessionStorage.topo) {
        console.log('需要先保存，在是使用读取')
      } else {
        const topo = JSON.parse(sessionStorage.topo)
        this.graphs.fixed.options = {
          zoom: {
            transform: topo.zoom
          }
        }
        this.graphs.fixed.data = Promise.resolve(Object.freeze({
          nodes: topo.nodes,
          edges: topo.edges
        }))
      }
    },
    genFixedNode(n = 10) {
      const data = []
      while(n--) {
        const item = {
          id: 'node' + n,
          shape: {
            type: 'image',
            href: require('./images/ip-topo-vm.svg')
          },
          label: {
            text: '测试测试'
          },
          value: n,
          position: {
            x: _.random(-10, 670),
            y: _.random(-20, 670)
          },
        }
        data.push(item)
      }
      return Object.freeze(data)
    },
    genNetworkNode(n = 10) {
      const data = []
      const shape = ['text', 'image']
      while(n--) {
        const item = {
          id: 'node' + n,
          shape: {
            type: 'image',
            href: require('./images/ip-topo-vm.svg')
          },
          label: {
            text: '测试测试'
          },
          value: n
        }
        data.push(item)
      }
      return Object.freeze(data)
    },
    genNetworkEdge(e = 20, n = 10, multi = false) {
      const map = new Map()
      let m = n
      while(m--) {
        map.set(m, m)
      }
      const data = []
      let count =_.round(_.random(n / 40,  n / 5))
      while (count--) {
        const source = _.random(n - 1)
        map.delete(source)
        let rc = _.random(n / 20, n / 10)
        while(--rc > 0) {
          const target = _.random(n - 1)
          map.delete(target)
          const edge = {
            id: 'edge' + source + '_' + target,
            source: 'node' + source,
            target: 'node' + target,
            value: e,
          }
          if (multi) {
            const tem = [0, 1, 2, 3, 4, 5]
            const name = ['green', 'dashGreen', 'yellow', 'dashYellow', 'red', 'dashRed']
            const lines = _.shuffle(tem).slice(0, _.random(3) + 1).sort().map(i => name[i])
            edge.shape = {
              lines,
            }
          }
          data.push(edge)
        }
      }
      const rs = [...map.values()]
      let l = rs.length - 1
      while (l > 0) {
        const source = rs[l]
        let target = rs[l - 1] ? rs[l - 1] : 1
        const edge = {
          id: 'edge' + source + '_' + target,
          source: 'node' + source,
          target: 'node' + target,
          value: e,
        }
        if (multi) {
          const tem = [0, 1, 2, 3, 4, 5]
          const name = ['green', 'dashGreen', 'yellow', 'dashYellow', 'red', 'dashRed']
          const lines = _.shuffle(tem).slice(0, _.random(3) + 1).sort()
          edge.shape = {
            lines,
          }
        }
        data.push(edge)
        l -= 2
      }
      return Object.freeze(data)
    },
    genEdges(e = 20, n = 10, m = 10, l = 5) {
      const data = []
      while(e--) {
        const edge = {
          id: 'edge' + e,
          source: 'node' + _.random(n - 1),
          target: 'node' + _.random(n - 1),
          value: e,
        }
        data.push(edge)
      }
      let c = _.random(l) + 1
      while (c--) {
        const source = data[_.random(data.length - 1)].source
        let mm = m
        while(mm--) {
          const edge = {
            id: 'edgec' + mm + c,
            source,
            target: 'nodec' + c + _.random(mm - 1),
            value: mm,
          }
          data.push(edge)
        }
      }
      return data
    },
    divideIntoGroup(group, edge) {
      const sets = []
      // 遍历组，判断这条边是否属于其中一个组，
      // 如果属于其中一个组，则将这条边放到这个组里，
      // 如果同时属于多个组，则再合并组
      _.forEach(group, (nodes, index) => {
        let hasSource = nodes.has(edge.source)
        let hasTarget = nodes.has(edge.target)
        if (hasSource || hasTarget) {
          sets.push({
            index,
            nodes,
            hasSource,
            hasTarget,
          })
        }
      })
      if (sets.length === 0) {
        group.push(new Set([edge.source, edge.target]))
      } else {
        // 将节点放到第一个临时组内
        // 可能两个点都已经在组内
        if (!sets[0].hasSource) {
          sets[0].nodes.add(edge.source)
        } else if (!sets[0].hasTarget){
          sets[0].nodes.add(edge.target)
        }
        // 出现在多个组内
        if (sets.length > 1) {
          const nodes = _.reduce(sets, (rst, item, index) => {
            // 收集每个组的节点，合并到一个组内
            rst.push(...item.nodes.keys())
            // 删除组，item.index - index 是因为splice后原数组小标会变化
            group.splice(item.index - index, 1)
            return rst
          }, [])
          // 添加合并后的组
          group.push(new Set(nodes))
        }
      }
    },
    setIntoTree(tree, edge) {
      if (!_.has(tree, edge.source)) {
        tree[edge.source] = [edge.target]
      } else if (tree[edge.source].indexOf(edge.target) === -1) {
        tree[edge.source].push(edge.target)
      }
      if (!_.has(tree, edge.target)) {
        tree[edge.target] = [edge.source]
      } else if (tree[edge.target].indexOf(edge.source) === -1) {
        tree[edge.target].push(edges.source)
      }
    },
    depthFistTraveral(path, treeData, node, level) {
      const rst = {
        path: [],
        used: [],
      }
      rst.used.push(node)
      // 记录当前路径
      path.set(node, level)
      const children = treeData[node]
      _.forEach(children, child => {
        // 由于是无向图，存储了双向的数据，因此需要过滤掉相同的边
        if (child !== node) {
          const existNodeLevel = path.get(child)
          if (existNodeLevel) {
            // 形成环，收集完整路径，标记成环
            rst.path.push({
              circleKey: child,
              circleLength: level - existNodeLevel,
              path: [...path.keys()],
            })
          } else {
            // 进入下一级，深度优先
            const tmp = depthFistTraveral(path, treeData, child, level + 1)
            rst.path = rst.path.concat(tmp.path)
            rst.used = rst.used.concat(tmp.used)
          }
        // children只有一个节点，说明路径走到头
        } else if (children.length === 1) {
          // 收集完整路径
          rst.path.push({
            circleKey: false,
            circleLength: 0,
            path: [...path.keys()],
          })
        }
      })
      // 删除节点，放回上级
      path.delete(node)
      return rst
    },
    getMaxLength(treeData) {
      // 深度优先遍历树，寻找最大环和最长路径
      const path = new Map()
      const rst = depthFistTraveral(path, treeData, Object.keys(treeData)[0], 0)
      _.forEach(rst.used, item => {
        delete treeData[item]
      })
      let group = [rst.path]
      if (!_.isEmpty(treeData)) {
        const tmp = getMaxLength(group, treeData)
        group = group.concat(tmp)
      }
      return group
    },
    calcPosition(width, height) {
      const edges = this.genEdges(20, 20, 20)
      const group = []
      const treeData = {}
      if (edges.length) {
        _.forEach(edges, edge => {
          // 分组
          this.divideIntoGroup(group, edge)
          // 构造树结构
          // this.setIntoTree(treeData, edge)
          this.genNodeMap(treeData, width, height, edge)
        })
        // const group = getMaxLength(treeData, edge)
      }
      const nodes = _.map(treeData, (node, id) => {
        return {
          id,
          shape: {
            type: 'image',
            href: require('./images/ip-topo-vm.svg')
          },
          label: {
            text: id,
          },
          position: {
            x: node.point.x,
            y: node.point.y,
          },
          value: 0
        }
      })
      /*
      this.graphs.force.data = Promise.resolve().then(() => {
        return {
          nodes,
          edges,
        }
      })
      */
      this.graphs.force2.data = Promise.resolve().then(() => {
        return {
          nodes,
          edges,
        }
      })
      /*
      this.graphs.test2.data = Promise.resolve().then(() => {
        return {
          nodes,
          edges,
        }
      })
      this.calcGravityRepulsion(treeData, group, width, height)
      this.graphs.test2.data = Promise.resolve().then(() => {
        const nodes = _.map(treeData, (node, id) => {
          return {
            id,
            shape: {
              type: 'image',
              href: require('./images/ip-topo-vm.svg')
            },
            label: {
              text: id,
            },
            position: {
              x: node.point.x,
              y: node.point.y,
            },
            value: 0
          }
        })
        return {
          nodes,
          edges,
        }
      })
      */
    },
    genNodeMap(tree, width, height, edge) {
      if (!_.has(tree, edge.source)) {
        tree[edge.source] = {
          id: edge.source,
          point: {
            x: width / 2,
            y: height / 2,
          },
          edges: [edge.target]
        }
      } else if (tree[edge.source].edges.indexOf(edge.target) === -1) {
        tree[edge.source].edges.push(edge.target)
      }
      if (!_.has(tree, edge.target)) {
        tree[edge.target] = {
          id: edge.target,
          point: {
            x: width / 2,
            y: height / 2,
          },
          edges: [edge.source],
        }
      } else if (tree[edge.target].edges.indexOf(edge.source) === -1) {
        tree[edge.target].edges.push(edge.source)
      }
    },
    calcGravity(maxR, k, center, node) {
      let x = center.x - node.x
      let y = center.y - node.y
      let d = Math.sqrt(x ** 2 + y ** 2)
      let length = d
      if (d > maxR) { // 大于最大长度受到收缩力
        length = maxR
      } else {  // 不受力
        x = 0
        y = 0
      }
      return {
        force: k * (d - length), // 弹力公式 f = kx, x是形变长度
        x: x / d,           // 单位向量
        y: y / d,
      }
    },
    calcSpring(maxL, minL, k, src, dst) {
      // 形成环
      if (src.id === dst.id) {
        return {
          force: 0,
          x: 0,
          y: 0,
        }
      }
      let x = dst.point.x - src.point.x
      let y = dst.point.y - src.point.y
      let d = Math.sqrt(x ** 2 + y ** 2)
      let length = d
      if (d === 0) {
        x = Math.random() * (Math.random() > 0.5 ? 1 : -1)
        y = Math.sqrt(1 - x ** 2) * (Math.random() > 0.5 ? 1 : -1)
        d = 10
      }
      if (d > maxL) { // 大于最大长度受到收缩力
        length = maxL
      } else if (d < minL) {  // 小于最小长度受到张力
        length = minL
      } else {  // 不受力
        x = 0
        y = 0
      }
      const m = src.edges.length
      return {
        force: k * (d - length) / m, // 弹力公式 f = kx, x是形变长度
        x: x / d,           // 单位向量
        y: y / d,
      }
    },
    calcRepulsion(mass, unitMass, g, src, dst) {
      // 形成环
      if (src.id === dst.id) {
        return {
          force: 0,
          x: 0,
          y: 0,
        }
      }
      const srcM = mass + unitMass * src.edges.length
      const dstM = mass + unitMass * dst.edges.length
      let x = src.point.x - dst.point.x
      let y = src.point.y - dst.point.y
      let d2 = x ** 2 + y ** 2
      // 节点重叠，生成随机方向的向量
      if (d2 === 0) {
        x = Math.random() * (Math.random() > 0.5 ? 1 : -1)
        y = Math.sqrt(1 - x ** 2) * (Math.random() > 0.5 ? 1 : -1)
        d2 = 100
      }
      let force = g * srcM * dstM / d2
      const d = Math.sqrt(d2)
      return {
        force,
        x: x / d,
        y: y / d,
      }
    },
    calcGravityRepulsion(treeData, group, width, height) {
      const minL = 20   // 两点间产生弹力的最小距离，小于这个距离，产生斥力
      const maxL = 70  // 两点间产生弹力的最da距离，大于这个距离，产生引力
      const k = 0.17  // 引力常数，引力t = k * (d - L)， d是两点实际距离
      const g = 0.0005  // 斥力常数
      const mass = 4000 // 最小质量
      const unitMass = 50  // 质量增量
      let maxIteration = 500 // 最大迭代次数
      let minOffset = 1  // 最小力，当所有力小于最小力时停止迭代
      const center = {
        x: width / 2,
        y: height / 2
      }
      const maxR = (width < height ? width : height) / 2
      while (maxIteration > 0) {
        let maxOffset = 0
        // 遍历所有节点，依次做出位置移动
        _.forEach(treeData, node => {
          const vectors = []
          // 收集边的引力
          _.forEach(node.edges, edge => {
            vectors.push(this.calcSpring(maxL, minL, k, node, treeData[edge]))
          })
          // 收集节点间的斥力
          _.forEach(treeData, item => {
            vectors.push(this.calcRepulsion(mass, unitMass, g, node, item))
          })
          // 叠加力
          const vector = _.reduce(vectors, (rst, vector) => {
            rst.x += vector.force * vector.x
            rst.y += vector.force * vector.y
            return rst
          }, { x: 0, y: 0 })
          // 力作用到节点，修改节点坐标
          node.point.x += vector.x
          node.point.y += vector.y
          // 计算中心引力
          const gravityForce = this.calcGravity(maxR, 0.01, center, node.point)
          if (gravityForce.force) {
            node.point.x += gravityForce.force * gravityForce.x
            node.point.y += gravityForce.force * gravityForce.y
            vector.x += gravityForce.force * gravityForce.x
            vector.y += gravityForce.force * gravityForce.y
          }
          // 记录最大偏移
          const offset  = Math.sqrt(vector.x ** 2 + vector.y ** 2)
          if (offset > maxOffset) {
            maxOffset = offset
          }
        })
        // 遍历组，对组内节点做整体调整，趋向中心运动

        // 如果所有节点的最大偏移小于最小偏移量，认为系统已经稳定，停止迭代
        if (maxOffset < minOffset) {
          break;
        }
        maxIteration -= 1
      }
    },
    render() {
      /*
      this.graphs.multiLine.data = Promise.resolve().then(() => {
        return {
          nodes: this.genNetworkNode(120),
          edges: this.genNetworkEdge(300, 120, true),
        }
      })
      */
      setTimeout(() => {
        const tmp = this.$refs.force2[0].$el.getBoundingClientRect()
        this.calcPosition(tmp.width, tmp.height)
      }, 1000)
    },
    test() {
      this.render()
    },
  },
  mounted() {
    this.render()
  },
}
</script>

<style scoped>
.container {
  flex-wrap: wrap;
  border: 1px solid #333;
}
.graph {
  margin: 0 5px;
}
p {
  padding-left: 20px;
  margin-bottom: 5px;
}
</style>
